
.led{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid black;
    background-image: url("https://coinmarketdaddy.com/upload/coin/itcoinashbchsv.png");
    background-size: 75% 75%;
    background-position: center calc(50% + 15px);
    background-repeat: no-repeat;
    background-color: red;
}

#wrapper{
    max-width: 480px;
    margin: auto;
    position: relative;
}

#money-button {
    max-width: 200px;
    overflow-x: hidden;
    display: block!important;
    margin: 0 auto;
    margin-top: -50px;
}

.moneyButton {
  max-width: 200px;
  display: inline;
  margin: 25px 10px 0;
}

#toogle {
  text-align: right;
  position: absolute;
  top: 8px;
  right: -60px;
}

#timer {
  display: none;
}

#on{
  margin-left: 50px;
  float: left;
}

#off {
  float: right;
}

/* LOADER */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* BUTTON */
.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: 'GO! \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: -20;
}
